.arialblack24
{
font-family: ArialWestern;
font-size: 24px;
color: #000000;
}

.bradyblack24
{
font-family: BradyBunch;
font-size: 24px;
color: #000000;
}

.arialred16
{
font-family: ArialWestern;
font-size: 16;
color: #FF0000;
}

.bradyblue16
{
font-family: BradyBunch;
font-size: 16px;
color: #0000FF;
}
